<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="alphaschool landing page">
    <meta name="author" content="cerberus-team">

    <title>Nuevo Curso</title>

    <link rel="icon" href="img/logo-icon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="css/stuck.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/superfish.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">   
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 

    <!-- archivos de angular -->
    <script src="js/gestorApp.js" type="text/javascript"></script>
    <script src="js/checklist-model.js" type="text/javascript"></script>
    <!-- Exportar a pdf-->
    <script src="https://cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
    <script src="/prueba_api/toPDF/jsPDF/dist/jspdf.debug.js"></script>
    <script src="/prueba_api/toPDF/dist/saveHtmlToPdf.min.js"></script>

</head>

<body ng-app="gestorApp" id="body">
    <header>
        <div id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <h1>
                            <a href="pageGestor.html">
                                <img src="img/logoAlpha.png" alt="Your Happy Family">
                            </a>
                        </h1>
                        <div class="menu_block">
                            <nav class="horizontal-nav full-width horizontalNav-notprocessed" ng-controller="navController as nav">
                                <ul class="sf-menu">
                                    <li><a href="datosPad.html" target="_blank">{{nav.apellidos}}, {{nav.nombre}} </a></li>

                                    <li><a href="ajustes.html"><i class="fa fa-cogs" aria-hidden="true"></i></a></li>
                                    <li>
                                        <button type = "button"  class="botonHeader" ng-click = "nav.logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
                                    </li>
                                </ul>
                            </nav>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="contenido">
        <div class="container" ng-controller="crearCursoController as curso">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="pageGestor.html" class="btn btn-default">Atrás</a></li><br>
                        <li role="presentation" class="active"><a href="nuevoCurso.html" class="btn btn-default">Nueva Curso</a></li>
                        <li role="presentation"><a href="asignarCurso.html" class="btn btn-default">Asignar curso</a></li>
                    </ul>
                </div>

                <div class="col-md-10">
                    <div class="col-lg-12">
                        <h2 id="h2Titulo">NUEVO CURSO</h2>
                    </div>

               
                    <div ng-if="curso.todoOK">
                        <p>CURSO CREADO CORRECTAMENTE</p>
                        <a href="nuevoUsuario.html"><button>Crear otro curso</button></a>
                    </div>

                    <form name="formulario" ng-submit="curso.crear()" ng-if="!curso.todoOK">
                        <div class="form-group">
                           <label for="nom">Curso</label>
                           <input type="text" class="form-control" id="nombreCurso" placeholder="Nombre" ng-model="curso.nombre">
                       </div>
                        <div class="form-group">
                            <label>Grupo</label>
                            <input type="text" class="form-control" id="nombreGrupo" placeholder="Grupo" ng-model="curso.grupo">
                        </div>            

                         <button  type="submit" class="btn btn-primary" ng-disabled="!(!!curso.nombre) || !(!!curso.grupo)">Crear curso</button>           
                    </form>
                </div>
            </div>
        </div>
    </section>
    
<!--==============================footer=================================-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="copy">
                        <span class="brand">Alpha-School</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
 
    
</body>
</html>