<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="alphaschool landing page">
    <meta name="author" content="cerberus-team">

    <title>Nuevo Usuario</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 

    <!-- archivos de angular -->
    <script src="js/gestorApp.js" type="text/javascript"></script>
    <script src="js/checklist-model.js" type="text/javascript"></script>

</head>

<body ng-app="gestorApp">
<!--Cabercera-->
<header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"  ng-controller = "navController as nav">
            <div class="containerHeader">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="pageGestorr.html" target="_blank"><img src="img/logoAlpha.png" class="img-responsive " alt="Logotipo" width="100"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <ul class="nav navbar-nav">
                    <li>
                        <a href="pageGestor.html" target="_blank"><span class="glyphicon glyphicon-triangle-left"></span> Volver</a>
                    </li>

                </ul>
                <ul  class="nav navbar-nav navbar-right">
                    <li class="user">
                        <!--Con el enlace se accede a los datos del usuario "Mis Datos"-->
                        <h3><a href="ajustes.html" target="_blank"><img src="img/chico.png" class="img-circle" alt="user"> {{nav.apellidos}}, {{nav.nombre}} </a></h3>
                    </li>
                    <li>
                        <button type = "button" ng-click = "nav.logOut()"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
                    </li>
                </ul>
            </div>
        </nav>
</header>
    
    <!--Contenido-->
        </br>
  <div class="container" ng-controller="crearUsuarioController as crear">
            <div class="row">
                <div class="col-lg-12"></br>
                    <h1>Nuevo Usuario</h1>
                </div>
            </div>
    <div ng-if="crear.todoOK">
        <p>USUARIO CREADO CORRECTAMENTE</p>
        <a href="nuevoUsuario.html"><button>Crear otro usuario</button></a>
    </div>
    <form name="formulario" ng-submit="crear.randomPass()" ng-if="!crear.todoOK">
        <input type="hidden" id="password" value="">
        <div class="form-group">
            <label for="seleccionRol">Tipo de Usuario</label>
            <select class="form-control" id="seleccionRol" ng-change="crear.clickUser()" ng-model="crear.selectedItem">
               <option value="default">--</option>
                <option value="alumno">Alumno</option>
                <option value="padre">Padre</option>
                <option value="profesor">Profesor</option>
                <option value="gestor">Gestor</option>
            </select>
        </div>
        <div class="form-group">
           <label for="nom">Nombre</label>
           <input type="text" class="form-control" id="nombreUsuario" placeholder="Nombre" ng-model="crear.nombreF">
       </div>
        <div class="form-group">
            <label>Apellidos</label>
            <input type="text" class="form-control" id="nombreApellidos" placeholder="Apellidos" ng-model="crear.apellidosF">
        </div>
        <div class="form-group">
            <label for="emailUsuario">E-Mail</label>
            <input type="email" class="form-control" id="emailUsuario" placeholder="E-Mail" ng-model="crear.email">
        </div>
        <div class="form-group" ng-if="crear.denei">
            <label for="DNIUsuario">DNI</label>
            <input type="text" class="form-control" id="DNIUsuario" maxlength="9" placeholder="DNI" ng-model="crear.dni">
        </div>
        <div class="form-group">
            <label for="telefonoUsuario">Teléfono</label>
            <input type="text" class="form-control" id="telefonoUsuario" placeholder="Teléfono" ng-model="crear.telefono">
        </div>
        <div class="form-group" ng-if="crear.padreT || crear.alum">
            <label for="seleccionRol">Curso y grupo</label>
            <select class="form-control" id="seleccionRol" ng-model="crear.idCurso" ng-change="crear.clickCurso()">
               <option value="default">--</option>
                <option ng-repeat="item in crear.cursos" value="{{item.idCurso}}">{{item.nombre}} {{item.grupo}}</option>
            </select>
        </div>        
        <div class="form-group" ng-if="crear.padr">
            <label for="seleccionRol">Hijo</label>
            <select class="form-control" id="seleccionHijo" ng-model="crear.idAlumno" ng-change="crear.clickHijo(1)">
               <option value="default">--</option>
                <option ng-repeat="item in crear.hijos" value="{{item.idAlumno}}">{{item.nombre}} {{item.apellidos}}</option>
            </select>
        </div>
        <div class="form-group" ng-if="crear.padr2">
            <label for="seleccionRol">2º Hijo</label>
            <select class="form-control" id="seleccionHijo2" ng-model="crear.idAlumno2" ng-change="crear.clickHijo(2)">
               <option value="default">--</option>
                <option ng-repeat="item in crear.hijos" value="{{item.idAlumno}}">{{item.nombre}} {{item.apellidos}}</option>
            </select>
        </div>
        <div class="form-group" ng-if="crear.padr3">
            <label for="seleccionRol">3º Hijo</label>
            <select class="form-control" id="seleccionHijo3" ng-model="crear.idAlumno3" ng-change="crear.clickHijo(3)">
               <option value="default">--</option>
                <option ng-repeat="item in crear.hijos" value="{{item.idAlumno}}">{{item.nombre}} {{item.apellidos}}</option>
            </select>
        </div>
        <div class="form-group" ng-if="crear.alum">
            <label for="seleccionRol">Año académico</label>
            <select class="form-control" id="seleccanyo" ng-model="crear.anyo">
               <option value="default">--</option>
                <option ng-repeat="item in crear.anyos" value="{{item}}">{{item}}</option>
            </select>
        </div>
        <div class="form-group" ng-if="crear.gest">
            <label for="seleccionRol">Centro</label>
            <select class="form-control" id="seleccanyo" ng-model="crear.gestor">
               <option value="default">--</option>
                <option ng-repeat="item in crear.listGest" value="{{item.idCentro}}">{{item.nombre}}</option>
            </select>
        </div>
        <div class="form-group" ng-if="crear.asig">
            <label for="seleccionAsigl">Asignaturas</label><br>
            <label ng-repeat="item in crear.asignaturas" for="item.nombre">
                <input type="checkbox" 
                   checklist-model="crear.user" checklist-value="item.idAsignatura">{{item.nombre}}
            </label><br>
            <button type="button" ng-click="crear.checkAll()">Seleccionar todas</button>
            <button type="button" ng-click="crear.uncheckAll()">Deseleccionar todas</button>
        </div>
            

            <button ng-if="crear.alum" type="submit" class="btn btn-primary" ng-disabled="!(!!crear.nombreF) || !(!!crear.apellidosF)
                 ">Crear usuario</button>            
                
            <button ng-if="crear.padreT" type="submit" class="btn btn-primary" ng-disabled="!(!!crear.nombreF) || !(!!crear.apellidosF)
                 || !(!!crear.dni) || !(!!crear.telefono)">Crear usuario</button>
                 
            <button ng-if="crear.profe" type="submit" class="btn btn-primary" ng-disabled="!(!!crear.nombreF)
                 || !(!!crear.dni)">Crear usuario</button>
                 
            <button ng-if="crear.gest" type="submit" class="btn btn-primary" ng-disabled="!(!!crear.nombreF)
                 || !(!!crear.gestor)">Crear usuario</button>

                
    </form>
    </div>
    
    <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; AlphaSchool 2017</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>
 
    
</body>
</html>