<!doctype html>
<html>
<head>
  <title>Angular Forms</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- LOAD BOOTSTRAP CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- LOAD JQUERY -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <!-- LOAD ANGULAR -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

  
        <style>
            .ng-valid.ng-dirty{
                border-color: green;
            }
            .ng-invalid.ng-dirty{
                border-color: red;
            }
        </style>
</head>
<!-- apply the module and controller to our body so angular is applied to that -->
<body  ng-app='myApp' ng-controller='controlador'>
<div class="container">
<div class="col-md-6 col-md-offset-3">

  <H1>AlphaSchool</H1>
      <div id="contenido">
          <p>Introduce el número de ID del tipocentro del que deseas consultar los datos</p>
      </div>
      <section id="seccion">
          <input type="number" id="num" >
          <button type="" ng-click="reload()">Consultar</button>
      </section>

    <!-- PAGE TITLE -->
  <div class="page-header">
    <h1><span class="glyphicon glyphicon-education"></span> Formulario cambiar datos tipocentro</h1>
  </div>

  <div>
    <form name = "adminForm" ng-submit="processForm()" novalidate>
      <div id="meter-group" class="form-group">
        <alias name = "salida"> </alias>
      </div>

      <!-- TITULO -->
      <div id="titulo-group" class="form-group">
        <label>Título</label>
        <input type="text" name="titulo" class="form-control" placeholder = "Tíulo" ng-model="seleccionado.simple.titulo">
      </div>

      <!-- DESCRIPCION -->
      <div id="descripcion-group" class="form-group">
        <label>Descripción</label>
        <input type="text" name="descripcion" class="form-control" placeholder = "Nombre" ng-model="seleccionado.simple.descripcion">
      </div>

      <!-- ID ALUMNO -->
      <div id="idAlumno-group" class="form-group">
        <label>ID de alumno</label>
        <input type="text" name="idAlumno" class="form-control" placeholder="ID" ng-model="seleccionado.simple.Asignatura_has_Curso_has_Alumno_idAlumno" required>
        <span style = "color:red" ng-show = "padreForm.idAlumno.$dirty && padreForm.idAlumno.$invalid">
            <span ng-show = "padreForm.idAlumno.$error.required">El ID es obligatorio.</span>
          </span>
      </div>  

      <!-- ID ASIGNATURA -->
      <div id="idAsignatura-group" class="form-group">
        <label>ID asignatura</label>
        <input type="text" name="idAsignatura" class="form-control" placeholder="ID" ng-model="seleccionado.simple.Asignatura_has_Curso_has_Alumno_idAsignatura" required>
        <span style = "color:red" ng-show = "padreForm.idAsignatura.$dirty && padreForm.idAsignatura.$invalid">
            <span ng-show = "padreForm.idAsignatura.$error.required">El ID es obligatorio.</span>
          </span>
      </div>

      <!-- ID CURSO -->
      <div id="idCurso-group" class="form-group">
        <label>ID curso</label>
        <input type="text" name="idCurso" class="form-control" placeholder="ID" ng-model="seleccionado.simple.Asignatura_has_Curso_has_Alumno_idCurso" required>
        <span style = "color:red" ng-show = "padreForm.idCurso.$dirty && padreForm.idCurso.$invalid">
            <span ng-show = "padreForm.idCurso.$error.required">El ID es obligatorio.</span>
          </span>
      </div>

      <!-- SUBMIT BUTTON -->
      <button  type = "submit" class="btn btn-success btn-lg btn-block">
         <span class="glyphicon glyphicon-flash"></span>Submit!
      </button>
    </form>
  </div>
</div>
</div>

<!-- PROCESS FORM WITH AJAX (NEW) -->
  <script>
//GET
            var item = sessionStorage.getItem("id");
            if(item!=null){
                document.getElementById("num").value=item;
            } 

            var id=document.getElementById("num").value;
            var id2 = document.getElementById("num").value;
            var aux = document.getElementById("num").value;
            var bool = false;

            if(id == null || id <=0){
                idAu="";
                bool = true;
            }else{
                idAu="id/"+id;
                bool = false;
            }

            var app = angular.module('myApp', []);
                
            app.controller('controlador', function($scope, $http) { 
                if(bool == false){
                    var self = this;
                    $http({
                        url: "http://localhost/prueba_api/alpha2/index.php/mencion/mencion/"+idAu+"/format/json", 
                        method: "GET",
                        params: {id: id}
                    })
                     .then(function(response) {
                        self.compuesto = angular.fromJson(response.data);
                        $scope.seleccionado = {simple: []};
                        $scope.seleccionado.simple = self.compuesto;
                        console.log($scope.seleccionado.simple.numExpediente)
                    }, function errorCallback(response) {
                        alert()
                    });
                }

                $scope.reload = function() {  
                    sessionStorage.setItem("id", document.getElementById("num").value);
                    location.reload();   
                }


          $scope.json2 = {};
          $scope.salida = {};

          $scope.formData = {}; 
          $scope.processForm = function(){
            $http({
                method  : 'PUT',
                url     : 'http://localhost/prueba_api/alpha2/index.php/mencion/mencion',
                data    : $.param($scope.seleccionado.simple),  // pass in data as strings
                headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
            })
                .success(function(data) {
                  //Prueba REST /*
                  $scope.json2 = data;
                  if($scope.json2.length == 0){
                   // $scope.salida.texto = $scope.json2[i];
                  };
                  if($scope.json2.length == 1){
                    $scope.salida.texto = $scope.json2[0];
                  };
                  if($scope.json2.length == 2){
                    $scope.salida.texto = $scope.json2[0] + "" + $scope.json2[1] ;
                  };
                  if($scope.json2.length == 3){
                    $scope.salida.texto = $scope.json2[0] + "" + $scope.json2[1] + "" + $scope.json2[2];
                  };
                }); 

          }


            });




//PUTvar 
    

    app.directive('alias', function() {
            var directive = {};
            directive.restrict = 'E';
            directive.template = "<b>{{alias.texto}}</b>";
            
            directive.scope = {
               alias : "=name"
            }
            return directive;
    });
  </script>
</body>
</html>