<!doctype html>
<html>
<head>
  <title>Formulario TipoCentro</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- LOAD BOOTSTRAP CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- LOAD JQUERY -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <!-- LOAD ANGULAR -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

  
        <style>
            .ng-valid.ng-dirty{
                border-color: green;
            }
            .ng-invalid.ng-dirty{
                border-color: red;
            }
        </style>
</head>
<!-- apply the module and controller to our body so angular is applied to that -->
<body>
<div class="container">
<div class="col-md-6 col-md-offset-3">

  <!-- PAGE TITLE -->
  <div class="page-header">
    <h1><span class="glyphicon glyphicon-education"></span> Formulario añadir Tipo centro</h1>
  </div>

  <div ng-app = "mainApp" ng-controller = "ngController">
    <!-- FORM  -->
    <form name = "ngForm" ng-submit="processForm()" novalidate>
      <div id="meter-group" class="form-group">
        <alias name = "salida"> </alias>
      </div>
      <!-- NAME -->
      <div id="tipo-group" class="form-group">
        <label>Tipo</label>
        <input type="text" name="tipo" class="form-control" placeholder = "Tipo" ng-model="formData.tipo" required>
          <span style = "color:red" ng-show = "ngForm.tipo.$dirty && ngForm.tipo.$invalid">
            <span ng-show = "ngForm.tipo.$error.required">El tipo es obligatorio.</span>
          </span>
      </div>

      <!-- DESCRIPCION -->
      <div id="descripcion-group" class="form-group">
        <label>Descripción</label>
        <input type="text" name="descripcion" class="form-control" placeholder = "Descripción" ng-model="formData.descripcion" required>
        <span style = "color:red" ng-show = "ngForm.descripcion.$dirty && ngForm.descripcion.$invalid">
            <span ng-show = "ngForm.descripcion.$error.required">La descripcion es obligatoria.</span>
          </span>
      </div> 

      <!-- SUBMIT BUTTON -->
      <button  type = "submit" ng-disabled="!(!!formData.tipo) || !(!!formData.descripcion)" class="btn btn-success btn-lg btn-block">
         <span class="glyphicon glyphicon-flash"></span>Submit!
      </button>
    </form>
  </div>

</div>
</div>

<!-- PROCESS FORM WITH AJAX (NEW) -->
  <script>

     var mainApp = angular.module("mainApp", []);

     

     mainApp.directive('alias', function() {
              var directive = {};
              directive.restrict = 'E';
              directive.template = "<b>{{alias.texto}}</b>";
              
              directive.scope = {
                 alias : "=name"
              }
              return directive;
      });
         
         mainApp.controller('ngController', function($scope, $http) {
          $scope.json2 = {};
          $scope.salida = {};
          $scope.formData = {}; 
          $scope.processForm = function(){
           

          $http({
              method  : 'POST',
              url     : 'http://localhost/prueba_api/alpha2/index.php/tipocentro/tipocentro',
              data    : $.param($scope.formData),  // pass in data as strings
              headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
          })
            .success(function(data) {
              //Prueba REST /*
              $scope.json2 = data;
              if($scope.json2.length == 0){
               // $scope.salida.texto = $scope.json2[i];
              };
              if($scope.json2.length == 1){
               $scope.salida.texto = $scope.json2[0];
              };
            });

          }
            

                 
         });

    

  </script>
</body>
</html>