<!doctype html>
<html>
<head>
  <title>Formulario Centro</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- LOAD BOOTSTRAP CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- LOAD JQUERY -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <!-- LOAD ANGULAR -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

  
        <style>
            .ng-valid.ng-dirty{
                border-color: green;
            }
            .ng-invalid.ng-dirty{
                border-color: red;
            }
        </style>
</head>
<!-- apply the module and controller to our body so angular is applied to that -->
<body>
<div class="container">
<div class="col-md-6 col-md-offset-3">

  <!-- PAGE TITLE -->
  <div class="page-header">
    <h1><span class="glyphicon glyphicon-education"></span> Formulario añadir centro</h1>
  </div>

  <div ng-app = "mainApp" ng-controller = "ngController">
    <!-- FORM  -->
    <form name = "ngForm" ng-submit="processForm()" novalidate>
      <div id="meter-group" class="form-group">
        <alias name = "salida"> </alias>
      </div>
      <!-- NAME -->
      <div id="name-group" class="form-group">
        <label>Nombre</label>
        <input type="text" name="nombre" class="form-control" placeholder = "Nombre" ng-model="formData.nombre" required>
          <span style = "color:red" ng-show = "ngForm.nombre.$dirty && ngForm.nombre.$invalid">
            <span ng-show = "ngForm.nombre.$error.required">El nombre es obligatorio.</span>
          </span>
      </div>

      <!-- DIRECCION -->
      <div id="direccion-group" class="form-group">
        <label>Dirección</label>
        <input type="text" name="direccion" class="form-control" placeholder = "Direccion" ng-model="formData.direccion" required>
        <span style = "color:red" ng-show = "ngForm.direccion.$dirty && ngForm.direccion.$invalid">
            <span ng-show = "ngForm.direccion.$error.required">La direccion es obligatoria.</span>
          </span>
      </div>

      <!-- TIPOCENTRO -->
      <div id="tipoCentro-group" class="form-group">
        <label>Tipo de Centro</label>
        <input type="text" name="TipoCentro_tipo" class="form-control" placeholder="Tipo de Centro" ng-model="formData.TipoCentro_tipo" required>
        <span style = "color:red" ng-show = "ngForm.TipoCentro_tipo.$dirty && ngForm.TipoCentro_tipo.$invalid">
            <span ng-show = "ngForm.TipoCentro_tipo.$error.required">El tipo de centro es obligatorio.</span>
          </span>
      </div>


      <!-- ID  DE CENTRO-->
      <div id="id-group" class="form-group">
        <label>ID del centro</label>
        <input type="text" name="idCentro" class="form-control" placeholder="ID centro" ng-model="formData.idCentro" required>
        <span style = "color:red" ng-show = "ngForm.idCentro.$dirty && ngForm.idCentro.$invalid">
            <span ng-show = "ngForm.idCentro.$error.required">El ID del administrador es obligatorio.</span>
          </span>
      </div> 

      <!-- ID DE ADMINISTRADOR-->
      <div id="idAdmin-group" class="form-group">
        <label>ID del administrador</label>
        <input type="text" name="Administrador_idAdministrador" class="form-control" placeholder="ID admin" ng-model="formData.Administrador_idAdministrador" required>
        <span style = "color:red" ng-show = "ngForm.Administrador_idAdministrador.$dirty && ngForm.Administrador_idAdministrador.$invalid">
            <span ng-show = "ngForm.Administrador_idAdministrador.$error.required">El ID del administrador es obligatorio.</span>
          </span>
      </div> 


      <!-- SUBMIT BUTTON -->
      <button  type = "submit" ng-disabled="!(!!formData.nombre) || !(!!formData.direccion) || !(!!formData.TipoCentro_tipo) || !(!!formData.idCentro) || !(!!formData.Administrador_idAdministrador)" class="btn btn-success btn-lg btn-block">
         <span class="glyphicon glyphicon-flash"></span>Submit!
      </button>
    </form>
  </div>

</div>
</div>

<!-- PROCESS FORM WITH AJAX (NEW) -->
  <script>

     var mainApp = angular.module("mainApp", []);

     

     mainApp.directive('alias', function() {
              var directive = {};
              directive.restrict = 'E';
              directive.template = "<b>{{alias.texto}}</b>";
              
              directive.scope = {
                 alias : "=name"
              }
              return directive;
      });
         
         mainApp.controller('ngController', function($scope, $http) {
          $scope.json2 = {};
          $scope.salida = {};
          $scope.formData = {}; 
          $scope.processForm = function(){
           

          $http({
              method  : 'POST',
              url     : 'http://localhost/prueba_api/alpha2/index.php/centro/centro',
              data    : $.param($scope.formData),  // pass in data as strings
              headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
          })
            .success(function(data) {
              //Prueba REST /*
              $scope.json2 = data;
              if($scope.json2.length == 0){
               // $scope.salida.texto = $scope.json2[i];
              };
              if($scope.json2.length == 1){
               $scope.salida.texto = $scope.json2[0];
              };
              if($scope.json2.length == 2){
               $scope.salida.texto = $scope.json2[0] + " " + $scope.json2[1];
              };
            });

          }
            

                 
         });

    

  </script>
</body>
</html>