<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Autorización Nueva</title>

     <link rel="icon" href="img/logo-icon.ico" type="image/x-icon"/>
    
    <link rel="stylesheet" href="css/stuck.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/superfish.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/bootstrap-social.css" rel="stylesheet" type="text/css">
    
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
    <!-- archivos de angular -->
    <script src="js/profesorApp.js"></script>
    <!-- Exportar a pdf-->
    <script src="https://cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
    <script src="/prueba_api/toPDF/jsPDF/dist/jspdf.debug.js"></script>
    <script src="/prueba_api/toPDF/dist/saveHtmlToPdf.min.js"></script>    
    <!-- cdn for modernizr, if you haven't included it already -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
    <!-- polyfiller file to detect and load polyfills -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
    <script>
      webshims.setOptions('waitReady', false);
      webshims.setOptions('forms-ext', {types: 'date'});
      webshims.polyfill('forms forms-ext');
    </script>
</head>
    
<body ng-app="profesorApp">
<!--Cabercera-->
    <header>
        <div id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <h1>
                            <a href="pageProfesor.html">
                                <img src="img/logoAlpha.png" alt="Your Happy Family">
                            </a>
                        </h1>
                        <div class="menu_block">
                            <nav class="horizontal-nav full-width horizontalNav-notprocessed" ng-controller="navController as nav">
                                <ul class="sf-menu">
                                    <li><a href="datosProfe.html" target="_blank">{{nav.apellidos}}, {{nav.nombre}} </a></li>

                                    <li><a href="ajustes.html"><i class="fa fa-cogs" aria-hidden="true"></i></a></li>
                                    <li>
                                        <button type = "button" class="botonHeader" ng-click = "nav.logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i> </button>
                                    </li>
                                </ul>
                            </nav>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="content">
    
        <div class="container" ng-controller="comunicadoController as comunicado">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="comunicado.html" class="btn btn-default">Comunicados</a></li>
                        <li role="presentation"><a href="publicarAnuncio.html" class="btn btn-default">Publicar Anuncio</a></li>
                        <li role="presentation" class="active"  ><a href="crearAutorizacion.html" class="btn btn-default">Crear Autorización</a></li>
                        <li role="presentation"><a href="listaAutorizados.html" target="_blank" class="btn btn-default">Lista Autorizados</a></li>
                    </ul>  
                </div>

                <div class="col-md-10">
                    <div class="col-lg-12">
                        <h2 id="h2Titulo">
                            Nueva Autorización
                        </h2>
                    </div>
            
                    <form class="form-horizontal col-md-12" ng-submit="comunicado.crearAutorizacion()"  ng-show="!comunicado.publicado"><br>
                        <div class="col-sm-12">
                            <div class="form-group col-sm-2">
                                <label for="sel1"> Curso: </label>
                                <select class="form-control" id="sel1" ng-model="comunicado.selectedCurso" ng-change="comunicado.clickCurso()">
                                    <option ng-repeat="item in comunicado.lista" value="{{item.idCurso}}">{{item.nombre}} {{item.grupo}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-sm-12">
                            <div class="form-group col-sm-4">
                                <label for="sel1"> Asignatura: </label>
                                <select class="form-control" id="sel1" ng-model="comunicado.selectedAsig" ng-change="comunicado.clickAsignatura()">
                                    <option ng-repeat="item in comunicado.listAsignaturas" value="{{item.idAsignatura}}">{{item.nombre}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="panel-heading">
                                <h3>Plantilla de Autorización</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    
                                    Yo padre/madre/tutor-a del alumno-a del curso <b>{{comunicado.nombreCurso}} {{comunicado.grupoCurso}}</b> autorizo a mi hij@ a realizar la actividad 
                                     <input type="text" name = "actividad" ng-model="comunicado.nomActividad" placeholder = "Escribe Actividad"> 
                                        <div class="form-group">
                                            <label for="comment">DESCRIPCION DE LA ACTIVIDAD:</label>
                                            <textarea class="form-control" ng-model="comunicado.descActividad" rows="2" id="comment"></textarea>
                                        </div>
                                     el día <input type="date" name = "diaFaltaClase" ng-model="comunicado.fecha" placeholder = "DD/MM/AAAA"><br><br>
                                    Precio de la actividad:<input type="text" name = "precio" ng-model="comunicado.precio" placeholder = "Escribe Precio"> €                            
                                </div>
                            </div>    
                        </div>

                        <div class="row col-md-6">        
                            <div class="col-sm-4">
                                <a href="comunicado.html"><button type="button" class="btn btn-danger active btn-md">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                                </button></a>
                            </div>

                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-primary btn-md active" ng-disabled="!(!!comunicado.selectedCurso) || !(!!comunicado.nomActividad)
                                     || !(!!comunicado.descActividad) || !(!!comunicado.precio)">
                                    <span class="glyphicon glyphicon-send"></span> Enviar
                                </button>
                            </div>

                        </div>
                    </form>
                    
                    <div class="col-lg-12" ng-show="comunicado.publicado">
                        <p>Publicado con éxito</p>
                        <a href="comunicado.html"><button>Volver</button></a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--==============================footer=================================-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="copy">
                        <span class="brand">Alpha-School</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>
