<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="alphaschool landing page">
    <meta name="author" content="cerberus-team">
    
    <title>Evaluar</title>
    
    <link rel="icon" href="img/logo-icon.ico" type="image/x-icon"/>
    
    <link rel="stylesheet" href="css/stuck.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/superfish.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/bootstrap-social.css" rel="stylesheet" type="text/css">
    
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
    <!-- archivos de angular -->
    <script src="js/profesorApp.js"></script>
    <!-- Exportar a pdf-->
    <script src="https://cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
    <script src="/prueba_api/toPDF/jsPDF/dist/jspdf.debug.js"></script>
    <script src="/prueba_api/toPDF/dist/saveHtmlToPdf.min.js"></script>    
    <!-- cdn for modernizr, if you haven't included it already -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
    <!-- polyfiller file to detect and load polyfills -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
    <script>
      webshims.setOptions('waitReady', false);
      webshims.setOptions('forms-ext', {types: 'date'});
      webshims.polyfill('forms forms-ext');
    </script>
</head>
    
<body ng-app="profesorApp">
    <header>
        <div id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <h1>
                            <a href="pageProfesor.html">
                                <img src="img/logoAlpha.png" alt="Your Happy Family">
                            </a>
                        </h1>
                        <div class="menu_block">
                            <nav class="horizontal-nav full-width horizontalNav-notprocessed" ng-controller="navController as nav">
                                <ul class="sf-menu">
                                    <li><a href="datosProfe.html" target="_blank">{{nav.apellidos}}, {{nav.nombre}} </a></li>

                                    <li><a href="ajustes.html"><i class="fa fa-cogs" aria-hidden="true"></i></a></li>
                                    <li>
                                        <button type = "button" class="botonHeader" ng-click = "nav.logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i> </button>
                                    </li>
                                </ul>
                            </nav>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="content">
        <div class="container" ng-controller="examenController as examen">
            <div class="row">

                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="active"><a href="ponerExamen.html" class="btn btn-default">Evaluar</a></li>
                        <li role="presentation"><a href="listaExamen.html" class="btn btn-default">Ver Exámenes</a></li>
                        <li role="presentation"><a href="ponerExamen.html" class="btn btn-default">Publicar Examen</a></li>
                    </ul>
                </div>
                
                <div class="col-md-10">
                    <div class="col-lg-12">
                        <h2 id="h2Titulo">
                            EVALUAR EXAMEN
                        </h2>
                    </div>
                                     
                    <form class="form-horizontal col-md-12" ng-submit="examen.ponerNota()">
                        
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <div class="form-group col-sm-12">
                                    <label for="sel1"> Curso: </label>
                                    <select class="form-control" id="sel1" ng-model="examen.selectedCurso" ng-change="examen.clickCurso()">
                                        
                                        <option ng-repeat="item in examen.lista" value="{{item.idCurso}}">{{item.nombre}} {{item.grupo}}</option>
                                    </select>
                                </div>
                            </div>
                        
                            <div class="col-sm-12">
                                <div class="form-group col-sm-12">
                                    <label for="sel1"> Asignatura: </label>
                                    <select class="form-control" id="sel1" ng-model="examen.selectedAsig" ng-change="examen.clickAsignatura()" ng-disabled="!(!!examen.selectedCurso)">
                                        
                                        <option ng-repeat="item in examen.listAsignaturas" value="{{item.idAsignatura}}">{{item.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-sm-12">
                                <div class="form-group col-sm-12">
                                    <label for="sel1"> Examen: </label>
                                    <select class="form-control" id="sel1" ng-model="examen.selectedExamen" ng-change="examen.clickExamen()" ng-disabled="!(!!examen.selectedAsig)">
                                        
                                        <option ng-repeat="item in examen.listExamenes" value="{{item.idExamen}}">{{item.titulo}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <!--
                        <div class="col-sm-12">
                            <div class="form-group col-sm-4">
                                <p><b>Fecha:</b> <input type="date" name = "fechaFalta" placeholder = "DD/MM/AAAA">
                                </p>
                            </div>
                        </div>
                        -->
                       
                        <div class="col-sm-8" ng-if="examen.ver">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                       <h2>{{examen.nombreExamen}}</h2>
                                        <h3>Lista de Alumnos</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h3>APELLIDOS</h3>
                                                <h4 ng-repeat="item in examen.alumnos">{{item.apellidos}}</h4>
                                            </div>
                                            <div class="col-sm-3">
                                                <h3>NOMBRE</h3>
                                                <h4 ng-repeat="item in examen.alumnos">{{item.nombre}}</h4>
                                            </div>
                                            <div class="col-sm-5">
                                                <h3>NOTA</h3>
                                                <div class="col-sm-12" ng-repeat="item in examen.alumnos">
                                                    <div class="col-sm-8">
                                                        <label><input style="width: 180%;" type="text" name="nota" value="0" step="any" ng-model="item.nota" ng-change="examen.datosAlumno(item.idAlumno, item.nota)"></label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <button type="submit" class="btn btn-primary btn-xs">
                                                            <i class="fa fa-floppy-o" aria-hidden="true"></i> 
                                                        </button>
                                                    </div>
                                                </div>    
                                                                            
                                                <div ng-if="examen.guardado">¡Guardado!</div>

                                            </div> 
                                        </div>                                           
                                    </div>
                                </div>
                            </div> 
                        </div>

                            <!--div class="col-sm-2" ng-if="examen.ver">
                                <a href="evaluar.html"><button type="button" class="btn btn-danger active btn-md">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                                </button></a>
                            </div-->

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <!--==============================footer=================================-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="copy">
                        <span class="brand">Alpha-School</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>