<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="alphaschool landing page">
    <meta name="author" content="cerberus-team">
    
    <title>Evaluar</title>

    <link rel="icon" href="img/logo-icon.ico" type="image/x-icon"/>
    
    <link rel="stylesheet" href="css/stuck.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/superfish.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/bootstrap-social.css" rel="stylesheet" type="text/css">
    
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
    <!-- archivos de angular -->
    <script src="js/profesorApp.js"></script>
    <!-- Exportar a pdf-->
    <script src="https://cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
    <script src="/prueba_api/toPDF/jsPDF/dist/jspdf.debug.js"></script>
    <script src="/prueba_api/toPDF/dist/saveHtmlToPdf.min.js"></script>    
    <!-- cdn for modernizr, if you haven't included it already -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
    <!-- polyfiller file to detect and load polyfills -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
    <script>
      webshims.setOptions('waitReady', false);
      webshims.setOptions('forms-ext', {types: 'date'});
      webshims.polyfill('forms forms-ext');
    </script>
</head>
    
<body ng-app="profesorApp">
    <header>
        <div id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <h1>
                            <a href="pageProfesor.html">
                                <img src="img/logoAlpha.png" alt="Your Happy Family">
                            </a>
                        </h1>
                        <div class="menu_block">
                            <nav class="horizontal-nav full-width horizontalNav-notprocessed" ng-controller="navController as nav">
                                <ul class="sf-menu">
                                    <li><a href="datosProfe.html" target="_blank">{{nav.apellidos}}, {{nav.nombre}} </a></li>

                                    <li><a href="ajustes.html"><i class="fa fa-cogs" aria-hidden="true"></i></a></li>
                                    <li>
                                        <button type = "button" class="botonHeader" ng-click = "nav.logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i> </button>
                                    </li>
                                </ul>
                            </nav>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="content">
        <div class="container" ng-controller="comunicadoController as comunicado">
            <div class="row">

                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="comunicado.html" class="btn btn-default">Comunicados</a></li>
                        <li role="presentation"><a href="publicarAnuncio.html" class="btn btn-default">Publicar Anuncio</a></li>
                        <li role="presentation"><a href="crearAutorizacion.html" class="btn btn-default">Crear Autorización</a></li>
                        <li role="presentation" class="active"><a href="listaAutorizados.html" target="_blank" class="btn btn-default">Lista Autorizados</a></li>
                    </ul>  
                </div>

                <div class="col-md-10">
                    <div class="col-lg-12">
                        <h2 id="h2Titulo">
                            Lista Alumnos
                        </h2>
                    </div>
            
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12">
                                <label for="sel1"> Curso: </label>
                                <select class="form-control" id="sel1" ng-model="comunicado.selectedCurso" ng-change="comunicado.clickCurso()">
                                    <option ng-repeat="item in comunicado.lista" value="{{item.idCurso}}">{{item.nombre}} {{item.grupo}}</option>
                                </select>
                            </div>
                        </div>
                    
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12">
                                <label for="sel1"> Elige una Actividad: </label>
                                <select class="form-control" id="sel1" ng-model="comunicado.selectedAutorizacion" ng-change="comunicado.clickAutoriz()">
                                    <option  value="{{item.idComunicado}}" ng-repeat="item in comunicado.listAutoriza">{{item.titulo}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                
                    <!--div class="row">
                        <div class="col-sm-8">
                            <p ng-if="!comunicado.click">Consulta los alumnos autotizados</p>
                        </div>
                    </div-->
                
                    <div class="row col-sm-8" ng-if="comunicado.click"  pdf-save-content="idOne">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>Alumnos Autorizados</h2>
                                </div>
                                <div class="panel-body" ng-if="comunicado.alum">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h3>APELLIDOS</h3>
                                            <h4 ng-repeat="item in comunicado.alumnos">{{item.apellidos}}</h4>
                                        </div>
                                        <div class="col-sm-4">
                                           <h3>NOMBRE</h3>
                                            <h4  ng-repeat="item in comunicado.alumnos">{{item.nombre}}</h4>
                                        </div>
                                    </div>
                                </div>
                                <h5 ng-if="!comunicado.alum">No hay alumnos autorizados</h5>
                            </div> 
                        </div>
                    </div>

                    <button pdf-save-button="idOne" pdf-name="listaAutorizados.pdf" ng-if="comunicado.alum" class="btn btn-danger active pull-right">
                        <span class="glyphicon glyphicon-download-alt"></span> Exportar a PDF
                    </button>

                </div>

            </div>
        </div>
    </section>
    <!--==============================footer=================================-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="copy">
                        <span class="brand">Alpha-School</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>