<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Autorizaciones</title>
    
    <link rel="icon" href="img/logo-icon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="css/stuck.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/superfish.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/bootstrap-social.css" rel="stylesheet" type="text/css">
	<!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 

    <!-- archivos de angular -->
    <script src="js/padreApp.js"></script>
     <!-- Exportar a pdf-->
    <script src="https://cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
    <script src="/prueba_api/toPDF/jsPDF/dist/jspdf.debug.js"></script>
    <script src="/prueba_api/toPDF/dist/saveHtmlToPdf.min.js"></script>   
    
    <!-- cdn for modernizr, if you haven't included it already -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
    <!-- polyfiller file to detect and load polyfills -->
    <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
    <script>
      webshims.setOptions('waitReady', false);
      webshims.setOptions('forms-ext', {types: 'date'});
      webshims.polyfill('forms forms-ext');
    </script>

</head>
    
<body ng-app = "padreApp">
    <header>
        <div id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <h1>
                            <a href="pagePadre.html">
                                <img src="img/logoAlpha.png" alt="Your Happy Family">
                            </a>
                        </h1>
                        <div class="menu_block">
                            <nav class="horizontal-nav full-width horizontalNav-notprocessed" ng-controller="navController as nav">
                                <ul class="sf-menu">
                                    <li><a href="datosPad.html" target="_blank">{{nav.apellidos}}, {{nav.nombre}} </a></li>

                                    <li><a href="ajustes.html"><i class="fa fa-cogs" aria-hidden="true"></i></a></li>
                                    <li>
                                        <button type = "button"  class="botonHeader" ng-click = "nav.logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
                                    </li>
                                </ul>
                            </nav>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <section class="content">
        <div class="container" ng-controller="autorizacionController as auto">
            <!-- Marketing Icons Section -->
            <div class="row">

                <div class="col-md-1">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="pagePadre.html" class="btn btn-default">Atrás</a></li>
                    </ul>
                </div>

                <div class="col-md-11">
                    <div class="col-lg-12">
                        <h2 id="h2Titulo">
                            AUTORIZACIONES
                        </h2>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="page-header"><b>
                                Autorizaciones sin firmar
                            </b></h3>
                        </div>
                        <div class="col-lg-12" ng-if="auto.noFirmada">
                            <h4>No hay autorizaciones</h4>
                        </div>
                        <div class="col-lg-12" ng-repeat="item in auto.autorizacionesNoFirmadas" ng-if="!auto.noFirmada">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>
                                        {{item.titulo}}
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="form-control-static">
                                           <p>Yo padre/madre/tutor-a del alumno-a <b>{{auto.nombreAlum}} {{auto.apellidosAlum}}</b> del curso <b>{{auto.nombreCurso}} {{auto.grupo}}</b>
                                            autorizo a mi hij@ a realizar la actividad <b>{{item.titulo}}</b> el día <b>{{item.fecha}}</b><br> 
                                            Precio de la actividad: <b>{{item.precio}} €</b><br>
                                            
                                            <b>DESCRIPCIÓN:</b> {{item.texto}}. <br><br></p> 
                                            <form name = "adminForm" ng-submit="auto.firmar(item.idComunicado)" class="col-xs-2" novalidate>
                                            <!-- SUBMIT BUTTON --> 
                                                <button  type = "submit" class="btn btn-success active btn-xs-2 btn-block">
                                                    <span class="glyphicon glyphicon-pencil"></span> FIRMAR
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "row">
                        <div class="col-lg-12">
                            <h3 class="page-header"><b>
                                Autorizaciones firmadas
                            </b></h3>
                        </div>
                        <div class="col-lg-12" ng-show="auto.firm">
                            <h4>No hay autorizaciones firmadas</h4>
                        </div>
                        <div class="col-lg-12" ng-repeat="item in auto.autorizacionesFirmadas">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>
                                        {{item.titulo}}
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="form-control-static">
                                           <p>Yo padre/madre/tutor-a del alumno-a <b>{{auto.nombreAlum}} {{auto.apellidosAlum}}</b> del curso <b>{{auto.nombreCurso}} {{auto.grupo}}</b>
                                            autorizo a mi hij@ a realizar la actividad <b>{{item.titulo}}</b> el día <b>{{item.fecha}}</b><br> 
                                            Precio de la actividad: <b>{{item.precio}} €</b><br>
                                            
                                            <b>DESCRIPCIÓN:</b> {{item.texto}}. <br><br></p>
                                            <h4>¡Firmado!</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--==============================footer=================================-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="copy">
                        <span class="brand">Alpha-School</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
